<div>
    <p>Lista de personas</p>

    <table class="table table-striped">
        <thead>
            <tr class="table-dark">
                <th scope="col">#ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Age</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let element of data; let indice = index">
                <th scope="row">{{ element.id }}</th>
                <th scope="row">{{ element.nombre }}</th>
                <th scope="row">{{ element.apellido }}</th>
                <th scope="row">{{ element.edad }}</th>
                <th scope="row">
                    <button class="btn btn-sm btn-success mx-1 px-1">
            <fa-icon [icon]="faPenToSquare"></fa-icon></button
          ><button class="btn btn-sm btn-danger mx-1 px-1" (click)="borrarPersona(element.id)">
            <fa-icon [icon]="faTrash" ></fa-icon>
          </button>
                </th>
            </tr>
        </tbody>
    </table>
</div>