<form action="">
    <div class="row mt-2">
        <label for="" class="form-label col-md-1">ID</label>
        <div class="col-md-4">
            <input type="number" name="text" id="" class="form-control" placeholder="Id" [(ngModel)]="id">
        </div>
    </div>
    <div class="row mt-2">
        <label for="" class="form-label col-md-1">Nombre</label>
        <div class="col-md-4">
            <input type="text" name="text" id="" class="form-control" placeholder="Nombre" [(ngModel)]="nombre">
        </div>
    </div>
    <div class="row mt-2">
        <label for="" class="form-label col-md-1">Apellido</label>
        <div class="col-md-4">
            <input type="text" name="text" id="" class="form-control" placeholder="Apellido" [(ngModel)]="apellido">
        </div>
    </div>
    <div class="row mt-2">
        <label for="" class="form-label col-md-1">Edad</label>
        <div class="col-md-4">
            <input type="number" name="text" id="" class="form-control" placeholder="Edad" [(ngModel)]="edad">
        </div>
    </div>
    <div class="mt-2">
        <button type="submit" class="btn btn-outline-primary m-1" (click)="crearPersona()">Crear Persona</button>
        <button type="submit" class="btn btn-outline-danger m-1" (click)="borrarPersona()">Borrar Persona</button>
        <button type="submit" class="btn btn-outline-success m-1" (click)="actualizarPersona()">Actualizar Datos</button>
        <button type="submit" class="btn btn-outline-warning m-1" (click)="traerPersona()">Mostrar Personas</button>
    </div>
</form>